<a href="https://colab.research.google.com/github/dthomas1108/year4-data-visualisation-assignment/blob/master/VehicleCollisionAssignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
!wget https://raw.githubusercontent.com/dthomas1108/year4-data-visualisation-assignment/refs/heads/master/collision2017.csv

--2025-11-25 12:47:52--  https://raw.githubusercontent.com/dthomas1108/year4-data-visualisation-assignment/refs/heads/master/collision2017.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.109.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 464817 (454K) [text/plain]
Saving to: ‘collision2017.csv’

collision2017.csv   100%[===================>] 453.92K  --.-KB/s    in 0.04s

2025-11-25 12:47:52 (12.2 MB/s) - ‘collision2017.csv’ saved [464817/464817]

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pyproj import Transformer

In [5]:
csv_path = 'collision2017.csv'

df = pd.read_csv(csv_path)

display(df.head(10))
print('Shape:', df.shape)
print('Columns:', list(df.columns))

,a_year,a_ref,a_District,a_type,a_veh,a_cas,a_wkday,a_day,a_month,a_hour,...,a_jdet,a_jcont,a_pedhum,a_pedphys,a_light,a_weat,a_roadsc,a_speccs,a_chaz,a_scene
0,2017,1,NEMD,3,1,1,SUN,1,1,3,...,,,,,,,,,,
1,2017,2,MEAN,3,2,1,SUN,1,1,3,...,,,,,,,,,,
2,2017,3,ARBC,2,1,1,SUN,1,1,10,...,2,7,1,1,2,10,1,1,1,1
3,2017,4,ANTN,3,2,1,SUN,1,1,10,...,,,,,,,,,,
4,2017,5,ANTN,2,2,2,SUN,1,1,11,...,1,1,1,1,2,1,1,1,1,1
5,2017,6,ARND,3,2,4,SUN,1,1,12,...,,,,,,,,,,
6,2017,7,LISC,3,3,1,SUN,1,1,13,...,,,,,,,,,,
7,2017,8,MEAN,2,1,2,SUN,1,1,17,...,1,1,1,1,2,1,2,1,1,1
8,2017,9,CCGL,2,1,1,MON,2,1,8,...,10,7,1,1,1,1,4,1,1,1
9,2017,10,MEAN,2,3,4,MON,2,1,9,...,10,7,1,1,2,9,4,1,1,1

Shape: (6081, 25)
Columns: ['a_year', 'a_ref', 'a_District', 'a_type', 'a_veh', 'a_cas', 'a_wkday', 'a_day', 'a_month', 'a_hour', 'a_min', 'a_gd1', 'a_gd2', 'a_ctype', 'a_speed', 'a_jdet', 'a_jcont', 'a_pedhum', 'a_pedphys', 'a_light', 'a_weat', 'a_roadsc', 'a_speccs', 'a_chaz', 'a_scene']

In [6]:
# Create a transformer from British National Grid (EPSG:27700) to WGS84 (EPSG:4326)
transformer = Transformer.from_crs("EPSG:27700", "EPSG:4326", always_xy=True)

# Convert Easting/Northing to Longitude/Latitude
# The transformer returns (longitude, latitude)
df['longitude'], df['latitude'] = transformer.transform(
    df['a_gd1'].values,
    df['a_gd2'].values
)

# View the results
print(df[['a_gd1', 'a_gd2', 'longitude', 'latitude']].head(10))

    a_gd1   a_gd2  longitude   latitude
0  339189  339097  -2.906431  52.945797
1  305164  401602  -3.431261  53.502530
2  288498  345801  -3.662855  52.997888
3  334975  380862  -2.977621  53.320672
4  313692  389836  -3.299495  53.398269
5  353373  375446  -2.700658  53.273936
6  327818  363612  -3.081126  53.164714
7  321640  399559  -3.182415  53.486886
8  267513  409174  -4.001787  53.562406
9  311983  396730  -3.327119  53.459937